
{% extends 'base.html.twig' %}

{% block crud %}



	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">

			</div>
			<h2>Oops! Page Not Found</h2>
			<a href="/">Go To Homepage</a>
		</div>
	</div>

><!-- This templates was made by Colorlib (https://colorlib.com) -->

{% endblock %}
