
<head>



    <title>Forbidden</title>


</head>

<body>

           <div>
				<h1>Forbidden</h1>
			</div>
			<div>
			<h2>Oops! Vous n'avez pas le droit !  :(</h2>
			<a href="/">Retour</a>
		    </div>

</body>

