{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


            <div class="card my-4">
            <h5 class="card-header">Inscription</h5>
            <div class="card-body">

            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            <div class="form-group">
            {{ form_widget(form) }}
            </div>
               
                <button type="submit"  value="{{ 'registration.submit'|trans }}" class="btn btn-primary">Inscription</button>
            </div>
          </div>



{{ form_end(form) }}
